<h1><%= @pizza.name %> pizza</h1>
<p>Ingredients: <%= @pizza.ingredients %></p>
<a href="/pizzas">Back</a> | 
<a href="/pizzas/<%= @pizza.id %>/edit">Edit</a> | 
<a href="/pizzas/<%= @pizza.id %>/destroy">Delete</a>
