<h1><%= @pizza.name %> Pizza</h1>
<br>
<h5>Ingredients</h5>
<ul>
  <li>
    <%= @pizza.ingredients %>
  </li>
</ul>








<%# There should be a show page for each Pizza.
 It should display the name and ingredients. %>
