<h1> <% @pizza.name %> </h1>
<h3>  Ingredients: <% @pizza.ingredients %> </h3>
<%= link_to "Edit", edit_pizza_path(@pizza)  %>
<%= link_to "Pizzas", pizzas_path  %>
<%= link_to "Restaurants", restaurants_path  %>
