<h1 style='margin-top:100px;font-size:2rem'>Restaurant</h1>

<label><%= @restaurant.name%></label>
<li><%= @restaurant.address%></li>
<!-- association not set up properly-->
<!-- <% @restaurant.pizzas.each do |pizza|%>-->
    <!-- <%= link_to @restaurant.pizza.name, pizzas_path(pizza)%> -->
<!-- <%end%> -->



