<h1><%= @restaurant.name %></h1>
<br>
<h3>Address:</h3> <%= @restaurant.address %>
<br>
<br>
Pizzas Available:
<ul>
<% @restaurant.pizzas.each do |pizza| %>
<li><%= link_to pizza.name, pizza_path(pizza) %></li>
<% end %>
</ul>
